<div class="main-container container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Buscar :</label>
        <input type="text" class="form-control" [(ngModel)]="buscar" name="buscar" (keyup.enter)="buscarPelicula()" placeholder="Buscar pelicula...">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let p of ps.peliculas">
        <img class="card-img-top" [src]="p | peliculaImagen" [alt]="p.original_title">
        <div class="card-body">
          <h5 class="card-title">{{ p.original_title }}</h5>
          <p class="card-text text-justify">{{ p.overview | slice:0:250 }}...</p>
          <button [routerLink]="['/pelicula',p.id,'busqueda',buscar]" class="btn btn-outline-dark btn-block">
            <i class="fas fa-eye"></i> Ver más...</button>
        </div>
      </div>
    </div>
  </div>
</div>
